:host {
  text-align: center;
}

.not-found_background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("../../assets/not-found_background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
