<div class="card near-card_choose-distance">
  <div class="card-block">
    <div class="form-group">
      <label for="chooseDistanceInput">Choose distance</label>
      <input type="email" class="form-control" id="chooseDistanceInput" aria-describedby="chooseDistanceHelp" placeholder="In meters please">
      <!--<small id="chooseDistanceHelp" class="form-text text-muted">Please enter the chat distance in meters</small>-->
    </div>
  </div>
  <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_up">+</button>
  <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_right">+</button>
  <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_bottom">+</button>
  <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_left">+</button>
</div>
