<div class="near-card_choose-distance_container">
  <div class="card near-card_choose-distance">
    <div class="card-block">
      <label for="basic-url">Choose distance</label>
      <div class="input-group">
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        <span class="input-group-addon" id="basic-addon3">m</span>
      </div>
    </div>
    <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_up">+</button>
    <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_right">+</button>
    <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_bottom">+</button>
    <button class="btn btn-primary btn-near_add-chat btn-near_add-chat_left">+</button>
  </div>
</div>
