<div class="near-card_content">
  <div class="near-card_row">
    <div class="near-card_item">
      <div class="card near_card">
        <div class="card-body near_card-body">
          <h4 class="card-title">Welcome</h4>
          <p class="card-text">This is the greatest thing ever, register to see what is about! Woooow</p>
          <div class="near-card_btn-holders">
          <a routerLink="/login" class="btn btn-primary">Login</a>
          <a routerLink="/register" class="btn btn-secondary">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
