.near-layout-content {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  flex-direction: column;
}

.near-layout-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  min-height: 80px;
}

.near-layout-row:not(:last-child) {
  margin-bottom: 20px;
}

.near-layout-middle-row {
  flex-grow: 7;
}

.near-layout-item {
  flex-grow: 1;
  min-width: 150px;
}

.near-layout-middle-item {
  flex-grow: 8;
}

.near-layout-middle-item_choose-distance{
  display: flex;
  justify-content: center;
  align-items: center;
}

.near-layout-corner-button {
  height: 80px;
  width: 60px;
}

.near-layout-middle-left {
  width: 60px;
}

.btn-layout-near {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
